<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="tseemann-dk.myget.org" value="https://www.myget.org/F/tseemann-dk/auth/51601496-2449-4ceb-ac2d-dd3c9d5a61bf/api/v3/index.json" />
  </packageSources>
</configuration>